# [Section 1: Main Flask Configuration]
# ------------------------------------------------------------------------------
# Defines the main application file for the Flask CLI.
FLASK_APP="app.py"

# Defines the environment. Use "development" to see error logs, and "production" when live.
FLASK_ENV="development"


# [Section 2: Database Configuration]
# ------------------------------------------------------------------------------
# The complete SQLAlchemy connection string for your database.
# Example for SQL Server with pyodbc:
DATABASE_URI="mssql+pyodbc://USERNAME:PASSWORD@SERVER_ADDRESS/DATABASE_NAME?driver=ODBC+Driver+17+for+SQL+Server"


# [Section 3: Security & Authentication (JWT)]
# ------------------------------------------------------------------------------
# Secret key used to sign JSON Web Tokens.
# Use a long, complex, and random value (e.g., a generated hash).
TOKEN_KEY="somesupersupersupersupersupersupersecret"

# The lifetime (expiration) of a token, in minutes.
EXP_TIME_MIN=30

# The time window (in minutes) before expiration, during which a token
# can be refreshed if it is used.
REFRESH_TIME_MIN=15


# [Section 4: API Documentation (Swagger)]
# ------------------------------------------------------------------------------
# The endpoint (URL) where the Swagger UI will be available.
SWAGGER_URL="/api/docs"

# The path to the static .yaml file that defines your API's structure.
API_URL="/static/swagger.yaml"
